.row
  .col-md-12
    %ol.breadcrumb
      - if current_user
        %li=link_to t('integrations.all'), Integration
      %li=link_to @integration.provider, [@integration, Metric]
      %li.active=@metric.metric_source
    %h1
      =@metric.metric_source
      %sup
        =show_delta_percents(@metric)
  .col-md-12
    =render "chart", metric: @metric, limit: 90
